.locations {
    background-color: lightgreen; 
    margin: 0 auto;
    display: block;
    width: 1000px;
    height: 1050px;
    font-family: Arial, Helvetica, sans-serif;
    
}

.tours {
    text-align: center;
    padding-top: 25px;
}

.column1 {
    width: 490px;
    height: 1050px;
    background-color: lightpink;
    margin: 0 auto;
    display:inline-block;

}

.column2 {
    width: 490px;
    height: 1050px;
    background-color: lightsteelblue;  
    margin: 0 auto;
    display:inline-block;
    margin-left: 15px;
}

.image6 {
    width: 490px;
    height: 300px;
    background-image: url(../images/image6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 20px;
}

.text8 {
    width: 490px;
    height: 160px;
    text-align: center;
    margin: 0 auto;
    align-self: center;
    padding: 20px;
}

.image7 {
    width: 490px;
    height: 300px;
    background-image: url(../images/image7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 20px;
}
 
.text9 {
    width: 490px;
    height: 160px;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
}

.image8 {
    width: 490px;
    height: 300px;
    background-image: url(../images/image8.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 20px;
}

.image9 {
    width: 490px;
    height: 300px;
    background-image: url(../images/image9.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 20px;
}

.text10 {
    width: 490px;
    height: 160px;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
}

.text11 {
    width: 490px;
    height: 160px;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
}

.text12 {
    width: 490px;
    height: 160px;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
}