nav {
    width: 1200px;
    height: 60px;
    display:flex;
    margin: 0 auto 0 auto;
    align-self: center;
    justify-content: space-between;
    padding: 0 40px;
    font-size: 20px;
    background-color: lightgray;
    padding-top: 20px;
    font-weight: bold;
}

nav a {
    text-decoration: none;
}